.baical__title {
    margin: 0 0 32px;
    width: 560px;
    font-size: 72px;
    line-height: 76px;
    text-align: center;
    font-weight: 900;
}

@media screen and (max-width: 560px) {
    .baical__title {
        width: 100%;
        font-size: 32px;
        line-height: 35px;        
    }        
}