.places__website {
    display: flex;
    flex-direction: column;
    align-self: flex-end;
}

@media screen and (max-width: 750px) {
    .places__website {        
        align-self: flex-start;
        padding-top: 32px;
        padding: 32px 16px 0px;
    }    
}