.baical__overlay {    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgb(42, 44, 47, .3);
    width: 100%;
    min-height: 740px;
    color: white;
    text-decoration: none;
    transition: 0.3s;
}

.baical__overlay:hover {
    background: rgb(42, 44, 47, .8);
}

@media screen and (max-width: 1185px) {
    .baical__overlay {    
        min-height: 640px;
    }   
} 

@media screen and (max-width: 768px) {
    .baical__overlay {
        min-height: 480px;
    }   
}   

@media screen and (max-width: 320px) {
    .baical__overlay {
        min-height: 200px;
    }   
}